.nav-item{
    padding:0 10px 0 10px;
    font-size:20px;
    font-family:"Montserrat";
}
.navbar-brand{
    letter-spacing: 3px;
    font-size: 23px;
    font-family:"Montserrat";
}
.display-4{
    font-weight: 400;
}
.products-listings{
    margin:20px;
}
.card-text{
    text-align: center;
}
.product-name{
    font-weight: 500;
    font-size:18px;
}
.footer-content{
    text-align: center;
}